

body{
    background: hsl(198, 51%, 67%);
}

nav{
    background-color: hsl(198, 62%, 26%);
}

.navbar-brand{
    color: hsl(0, 0%, 100%);

}

.nav-link{
    color: hsl(0, 0%, 100%);

}


